<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wolfssl.wolfci</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/wolfci</string>
        <string>--config</string>
        <string>/usr/local/etc/wolfci/server.yaml</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/usr/local/var/wolfci</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/wolfci.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/wolfci.err</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
